In [1]:
import pandas as pd
import numpy as np

In [2]:
df_novel = pd.read_csv("JCDL_Results/MT_Novel_Results.csv")
df_novel = df_novel[0:12]
df_novel['label'] = 1

In [3]:
df_non_novel = pd.read_csv("JCDL_Results/MT_Non_Novel_Results.csv")
df_non_novel['label'] = 0

In [4]:
df = pd.concat([df_novel, df_non_novel])
df

    Unnamed: 0  paper_ID  KL_score   variance  label
0          0.0         0 -2.044080  23.585012      1
1          1.0         1  0.000000  23.565742      1
2          2.0         2 -2.001332  23.563340      1
3          0.0         3 -2.005252  23.584748      1
4          1.0         4 -1.419339  23.580969      1
5          2.0         5 -2.495060  23.563568      1
6          0.0         6 -2.250770  23.564844      1
7          1.0         7 -1.222609  23.563026      1
8          2.0         8 -1.499235  23.565990      1
9          0.0         9 -2.597731  23.579713      1
10         1.0        10 -1.940229  23.601823      1
11         2.0        11 -1.741570  23.578750      1
0          NaN         0 -1.892385  23.561774      0
1          NaN         1 -1.563344  23.627951      0
2          NaN         2 -2.143711  23.671112      0
3          NaN         3 -1.475473  23.610354      0
4          NaN         4 -1.490127  23.631532      0
5          NaN         5 -1.481743  23.676270      0
6          NaN         6 -1.699821  23.623268      0
7          NaN         7 -1.710839  23.606590      0
8          NaN         8 -1.873619  23.624797      0
9          NaN         9 -1.939600  23.588359      0
10         NaN        10 -1.937181  23.636578      0
11         NaN        11 -1.931201  23.592693      0

In [5]:
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression

In [6]:
Y = df['label'].to_numpy()

In [7]:
X = df['variance'].to_numpy()
X = X.reshape(-1,1)
print(X.shape, Y.shape)

(24, 1) (24,)

In [8]:
clf = LogisticRegression().fit(X, Y)
results = clf.predict(X)
print(classification_report(Y, results))

              precision    recall  f1-score   support

           0       0.90      0.75      0.82        12
           1       0.79      0.92      0.85        12

    accuracy                           0.83        24
   macro avg       0.84      0.83      0.83        24
weighted avg       0.84      0.83      0.83        24

In [9]:
X = df['KL_score'].to_numpy()
X = X.reshape(-1,1)
print(X.shape, Y.shape)

(24, 1) (24,)

In [10]:
print(X)

[[-2.04407995]
 [ 0.        ]
 [-2.00133186]
 [-2.00525173]
 [-1.41933851]
 [-2.4950603 ]
 [-2.25077043]
 [-1.2226095 ]
 [-1.49923498]
 [-2.59773149]
 [-1.94022916]
 [-1.74157041]
 [-1.8923849 ]
 [-1.56334393]
 [-2.14371099]
 [-1.47547327]
 [-1.49012737]
 [-1.4817433 ]
 [-1.69982093]
 [-1.71083913]
 [-1.87361906]
 [-1.93960025]
 [-1.93718107]
 [-1.93120097]]

In [11]:
clf = LogisticRegression().fit(X, Y)
results = clf.predict(X)
print(classification_report(Y, results))

              precision    recall  f1-score   support

           0       0.55      0.50      0.52        12
           1       0.54      0.58      0.56        12

    accuracy                           0.54        24
   macro avg       0.54      0.54      0.54        24
weighted avg       0.54      0.54      0.54        24

In [ ]:
X = df[['KL_score', 'variance']].to_numpy()
print(X.shape, Y.shape)

In [ ]:
clf = LogisticRegression().fit(X, Y)
results = clf.predict(X)
print(classification_report(Y, results))